/* 
File: Finance.css Date: 2026-06-08

Author: Gunnar Liden

General information
====================

Defines all style classes for the Finance application.

*/

/* The whole page  */
.cl_div_finance_page
{
    font-family: 'Arial';
    font-size: 15px;
    font-weight: bold;
    width: 660px;
    margin-top: 20px;
    margin-left: 20px;
    overflow: hidden; 
}

/* Text logo <div> element */
.cl_div_finance_text_logo
{
    /* border: solid 2px white; */
    text-align: center;
    background-color: black;
    color: rgb(255, 0, 40);
    font-size: 18px;
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 3px;
    overflow: hidden;   
    width: 99.5%;
}
.cl_finance_title
{
    /* border: solid 1px yellow; */
    width: 80%;

    float: left;
}

.cl_create_program_title
{
    /* border: solid 1px yellow; */
    width: 80%;

    float: left;
}

/* For all <label> elements */
label
{
    font-weight: normal
}

/* Help and IT info button */
.cl_help_button_finance
{
    border: solid 1px white; 
    background-color: black;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 3px;
    margin-left: 28px;
    cursor: pointer;
    height: auto;
    margin-top: 5px;
    margin-right: 15px;
    float: right;
}

.cl_finance_step_title
{
    width: 100%;
    padding: 15px;
    margin-top: 3px;
    clear: both;   
}

.cl_finance_import_page
{
    border: solid 2px blue;
    width: 99%;
    overflow: hidden; 
    min-height: 120px;
}

.cl_div_import_bank_data
{
  border: solid 1px green;
    width: 95%;
    margin-left: 15px;
    padding-bottom: 3px;
    margin-bottom: 10px;
    overflow: hidden; 
    clear: both;
}

.cl_div_import_button
{
    border: solid 1px yellow;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-left: 15px;
    float:left;
}

.cl_div_display_file_name_textbox
{
    border: solid 1px yellow;
    margin-left: 15px;
    padding-bottom: 3px;
    float: left;
}

.cl_div_already_imported_dropdown
{
    border: solid 1px green;
    margin-left: 15px;
    margin-top: 10px;
    padding-bottom: 3px;
    min-height: 20px;
    clear: both;
}

.cl_finance_select_transaction_page
{
    border: solid 2px blue;
    width: 99%;
    overflow: hidden; 
    min-height: 210px;
}

.cl_div_select_transaction_dropdown
{
    border: solid 1px green;
    margin-left: 15px;
    padding-bottom: 3px;
    clear: both;
}

.cl_div_transaction_date_textbox
{
    border: solid 1px green;
    margin-left: 15px;
    padding-bottom: 3px;
    clear: both;
}

.cl_div_reference_number_textbox
{
    border: solid 1px green;
    margin-left: 15px;
    padding-bottom: 3px;
    clear: both;
}

.cl_div_transaction_amount_textbox
{
    border: solid 1px green;
    margin-left: 15px;
    padding-bottom: 3px;
    clear: both;
}

.cl_div_transaction_name_textbox
{
    border: solid 1px green;
    margin-left: 15px;
    padding-bottom: 3px;
    clear: both;
}

.cl_div_transaction_description_textfield
{
    border: solid 1px green;
    margin-left: 15px;
    padding-bottom: 3px;

    min-height: 40px;
    clear: both;
}

.cl_finance_register_transaction_page
{
    border: solid 2px blue;
    width: 99%;
    overflow: hidden; 
    min-height: 300px;
}

.cl_div_register_number_textbox
{
    border: solid 1px green;
    margin-left: 25px;
    margin-right: 25px;
    padding-bottom: 3px;
    clear: both;
}

.cl_div_register_amount_textbox
{
    border: solid 1px green;
    margin-left: 25px;
    margin-right: 25px;
    padding-bottom: 3px;
    clear: both;
}

.cl_div_select_type_dropdown
{
    border: solid 1px green;
    margin-left: 25px;
    margin-right: 25px;
    padding-bottom: 3px;
    clear: both;
}

.cl_div_register_description_textbox
{
    border: solid 1px green;
    margin-left: 25px;
    margin-right: 25px;
    padding-bottom: 3px;
    clear: both;
}

.cl_div_upload_document
{
    border: solid 1px green;
    margin-left: 25px;
    margin-right: 25px;
    padding-bottom: 3px;
    clear: both;
}